.DS_Store
*.egg-info
*.o
*.so
*.pyc
*.swp
*.swo
*.pyd
dist
_build
_site
build
.project
.pydevproject
.settings
.externalToolBuilders
.idea
.cache
.mypy_cache
.coverage
__pycache__
.vscode
.ipynb_checkpoints
