name: Linting

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-ci.txt --quiet

    - name: ruff
      run: |
        ruff --version
        ruff check . --ignore D

    - name: black
      run: |
        black --version
        black --check --diff --color src

    - name: mypy
      run: |
        mypy --version
        rm -rf .mypy_cache
        mypy src
